name: Terraform GitHub

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        workspace: [development, staging, production]
    defaults:
      run:
        working-directory: .github/infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ vars.TERRAFORM_VERSION || '1.6.6' }}

      - run: terraform --version
      - run: ls -ll
